::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fafafa;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    margin: 0rem;
    padding: 0rem;  
    scrollbar-color: #424242;
}
