.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.6rem !important;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.btn {
    font-family: 'Roboto', sans-serif;
}