.landing-container {
    background-image: url("../../../images/web-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-container .text {
    padding: 15rem;
    text-align: center;
}

.landing-container .text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    margin: 0rem;
    padding: 0rem;
}

.landing-container .text pre {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
}

.landing-container .text p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.landing-container .text p span {
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .landing-container {
        background-image: url("../../../images/mobile-bg.svg");
    }

    .landing-container .text {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    .landing-container .text p {
        font-size: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}